.campaign-label.campaign-label-BuyFeeDiscount1 {
    background: linear-gradient(#e58612 0%, #c9750e 100%);
}
.campaign-label.campaign-label-BuyFeeDiscount1:before {
    border-top-color: #e58612;
    border-bottom-color: #c9750e;
}

.campaign-label.campaign-label-ProfitRatioGuarantee1 {
    
}
