html,
body {
    height: 100%;
    background-color: #4a4a4a;
}
a, a:hover {
    color: inherit;
}
.wrap {
    /*min-height: 100%;*/
    height: auto;
    background-color: #f5f5f5;
    /*margin: 0 auto -160px;*/
    /*padding: 0 0 160px;*/
}

.hide {
    display: none;
}

.bold {
    font-weight: bold;
}

.slim {
    font-weight: normal;
}

.clear-both {
    clear: both;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 200px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: 0px;
    }    
}

#site-header .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.footer {
    background-color: #4a4a4a;
    border-top: 1px solid #333;
    -webkit-box-shadow: 0 7px 7px 0 rgba(0,0,0,0.2) inset;
       -moz-box-shadow: 0 7px 7px 0 rgba(0,0,0,0.2) inset;
            box-shadow: 0 7px 7px 0 rgba(0,0,0,0.2) inset;
    padding: 20px 0 10px;
    color: #fff;
}

.top-container {
    padding: 51px 0 0;
    width: auto;
}

.herounit {
    /*width: 100%;*/
}

.body-content {
    max-width: 1040px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel-inner .item {
    overflow: hidden;
}
.carousel-inner .item .hero-img {
    display: inline-block;
    width: 100%;
    background-size: cover;
    background-position: center center;
}
@media (max-width: 767px) {
    .carousel-inner .item {
        height: 300px;
    }
    .carousel-inner .item .hero-img {
        height: 300px;
    }
}
@media (min-width: 768px) {
    .carousel-inner .item {
        height: 400px;
    }
    .carousel-inner .item .hero-img {
        height: 400px;
    }
}

@media (max-width: 767px) {
    #hero-caption-1 {
        height: 80%;
    }
    #hero-caption-1 .text-jumbo {
        font-size: 20px;
    }
    #hero-caption-1 .text-normal {
        font-size: 10px;
    }
    #hero-caption-1 .btn {
        margin-top: 20px;
        padding: 6px 8px;
        font-size: 14px;
        border-radius: 4px;
    }
}
@media (min-width: 768px) {
    #hero-caption-1 {
        height: 80%;
    }
    #hero-caption-1 .text-jumbo {
        font-size: 50px;
        font-weight: 700;
    }
    #hero-caption-1 .btn {
        margin-top: 50px;
    }
}

.top-spliter {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #d9d9de;
    -webkit-box-shadow: 0 2px 0 #fff;
       -moz-box-shadow: 0 2px 0 #fff;
            box-shadow: 0 2px 0 #fff;
}
.pickup-body {
    padding-right: 40px;
}
.pickup-header .show-all {
    margin: 0;
    padding: 18px 20px 0 0;
}
.pickup-header .show-all .btn {
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.pickup-thumbnail {
    /*margin-right: 30px;
    width: 320px;
   float: left;*/
    height: 240px;
    text-align: center;
}
.pickup-thumbnail .img-block {
    height: 240px;
    overflow: hidden;
    position: relative;
}
.img-block img {
    height: 101%;
    width: auto;
}
.prop-detail-top-media .campaign-list {
    padding-right: 15px;
    padding-top: 10px;
}
.pickup-thumbnail .campaign-list {
    padding-right: 15px;
}
.pickup-thumbnail .earning-rate {
    padding-right: 20px;
}
.pickup-contents {
    /*width : -webkit-calc(100% - 350px);
    width : calc(100% - 350px);
   float: left;*/
    height: 240px;
    position: relative;
}
.pickup-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.pickup-author {
    color: #a0a0a0;
}
.pickup-description {
	max-height: 120px;
	overflow: hidden;
    color: #666;
    font-size: 13px;
}
.pickup-footer {
    position: absolute;
    bottom: 0px;
    background: linear-gradient(to bottom, rgba(245,245,245,0) 0%, #f5f5f5 30%);
    width: 100%;
    height: 120px;
}
.pickup-footer-contents {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 80px;
    /*background-color: #eee;*/
}
.pickup-footer-contents p {
    font-weight: bold;
    margin: 0;
}
.pickup-progress-bar {
    background-color: #d9d9de;
    overflow: hidden;
    margin: 5px 0 8px 0;
    border-radius: 3px;
    height: 6px;
}
.pickup-percent-pledged {
    background-color: #67046b;
    height: 100%;
}
.pickup-footer ul {
    margin: 0;
    padding: 0;
}
.pickup-footer ul li {
    display: inline-block;
    min-width: 60px;
    height: 40px;
    padding: 0;
    margin-right: 20px;
}
.pickup-footer-contents-params {
    /*text-align: right;*/
    font-size: 18px;
}
.pickup-footer-contents-subtile {
    /*text-align: right;*/
    font-weight: normal;
    font-size: 13px;
    color: #666;
}
.pickup-category {
    padding: 50px 0 0 0;
}
.pickup-category ul {
    height: 246px;
    margin: 0px;
    padding: 0;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #d9d9de;
}
.pickup-category li {
    list-style-image: none;
    list-style-type: none;
    border-left: 3px solid transparent;
    line-height: 25px;
    margin-left: -1px;
    padding-left: 20px;
}

.pickup-category li a {
    color: #000;
    font-weight: bold;
}
.pickup-category li a:hover, 
.pickup-category li.current {
    text-decoration: underline;
    font-weight: bold;
    color: #67046b;
    border-color: #67046b;
    color: #67046b;
}

.contact-us {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #d9d9de;
    
}
.contact-us .account-qr {
    width: 100%;
    text-align: center;
}
.contact-us .account-qr img {
    height: 150px;
    width: 150px;
}
.contact-us .social-icons {
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #d9d9de;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d9d9de;
    font-size: 22px;
    letter-spacing: 7px;
}
.contact-us .phone {
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
}

.property-group {
	/*margin-top: 30px;*/
}
.property-tile {
	padding: 0 25px;
}
.recommend-prop .property-tile {
    padding: 0 0 30px 0;
}
.property-group .property-tile:hover {
    -webkit-transform: scale(1.02,1.02);
       -moz-transform: scale(1.02,1.02);
        -ms-transform: scale(1.02,1.02);
         -o-transform: scale(1.02,1.02);
            transform: scale(1.02,1.02);
}
.property-tile-inner {
	background-color: #fff;
	-webkit-box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
       -moz-box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
            box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
	height: 370px;
}
.property-tile-inner.raising {
    height: 400px;
}
.recommend-prop .property-tile-inner {
    -webkit-box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
       -moz-box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
            box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
    height: 350px;
}
.property-tile-thumbnail {
	height: 220px;
	position: relative;
}
.recommend-prop .property-tile-thumbnail {
    height: 170px;
}
.property-tile-thumbnail .img-block {
    height: 220px;
    overflow: hidden;
}
.recommend-prop .property-tile-thumbnail .img-block {
    height: 170px;
}

.campaign-list {
    position: absolute;
    top: 0px;
    right: -3px;
    padding-top: 5px;
}
.earning-rate {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-right: 5px;
    color: #e0725c;
    font-size: 35px;
    line-height: 35px;
    font-style: italic;
    font-weight: bold;
    text-shadow:
        0px -1px #fff,
        1px 0px #fff,
        0px 1px #fff,
        -1px 1px #fff;
}
.earning-rate .unit {
    font-size: 50%;
}
.property-contents {
	margin: 10px;
    height: 130px;
    position: relative;
}
.property-tile-inner.raising .property-contents {
    height: 160px;
}
.property-title {
	font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}
.property-author {
	font-size: 11px;
    color: #a0a0a0;
}
.property-description {
	max-height: 90px;
    color: #666;
    font-size: 12px;
    overflow: hidden;
}
.property-footer {
    position: absolute;
    bottom: 0px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 30%);
    width: 100%;
    height: 55px;
}
.property-tile-inner.raising .property-footer {
    height: 95px;
}
.property-footer-contents {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    /*background-color: #eee;*/
}
.property-tile-inner.raising .property-footer-contents {
    height: 60px;
}
.property-footer-contents p {
	font-size: 12px;
    font-weight: bold;
    margin: 0;
}
.property-progress-bar {
    background-color: #d9d9de;
    overflow: hidden;
    margin: 2px 0 5px 0;
    border-radius: 3px;
    height: 6px;
}
.property-percent-pledged {
    background-color: #67046b;
    height: 100%;
}
.property-footer ul {
    margin: 0;
    padding: 0;
}
.property-footer ul li {
    display: inline-block;
    min-width: 40px;
    height: 35px;
    padding: 0;
    margin-right: 10px;
}
p.property-footer-contents-params {
    /*text-align: right;*/
    font-size: 12px;
}
p.property-footer-contents-subtile {
    /*text-align: right;*/
    font-weight: normal;
    font-size: 10px;
    color: #666;
}

/*---- PropDetail --------------------------------------------*/
.prop-detail .title, .prop-stocks .title {
    text-align: center;
}
.prop-detail .container {
    /*padding-left: 0px;
    padding-right: 0px;*/
}
.prop-detail-info {
    padding-bottom: 30px;
}

.prop-detail-top-media {
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}
.prop-detail-state {
    height: 450px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d9d9de;
}
.state-item > div {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: bold;
    vertical-align: bottom;
}
.state-item > div.per {
    color: #e0725c;
    font-style: italic;
    font-size: 80px;
    font-weight: normal;
}
.state-item > div.per > .unit {
    font-size: 50%;
}
.state-item > span {
    font-weight: bold;
}
.prop-detail-state .engage {
    padding: 30px 0;
}
.prop-detail-data {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d9d9de;
    padding-bottom: 30px;
}
.prop-detail-data .summary {
    font-size: 13px;
    color: #222;
}
.prop-detail-data .address {
    margin-top: 20px;
    color: #777;
    font-size: 11px;
    font-weight: bold;
}
.prop-detail-data dl {
    font-size: 13px;
    margin-bottom: 0px;
}
.prop-detail-data dt {
    width: 70px;
}
.prop-detail-data dd {
    margin-left: 80px;
}
.prop-detail-state .pickup-progress-bar {
    margin-top: 20px;
}
.prop-detail-body {
    padding-top: 30px;
    padding-bottom: 30px;
}
.prop-detail-body .nav li {
    font-weight: bold;
    color: #222;
}
.prop-detail-body .tab-content {
    padding-top: 20px;
}
.prop-detail-stocks {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.prop-detail-data .user-prop-state ul {
    margin: 0;
    padding: 10px 0 10px 20px;
    background-color: #fcfcfc;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.prop-detail-data .user-prop-state ul li {
    display: inline-block;
    min-width: 50px;
    height: 40px;
    padding: 0;
    margin-right: 20px;
}
.prop-detail-data .user-prop-state .contents-params {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
}
.prop-detail-data .user-prop-state .contents-subtile {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0px;
    color: #666;
}

.help-panel {
    padding-top: 10px;
    padding-bottom: 10px;
}

.help-panel > p{
    color: #777;
}
.help-panel ul {
    padding-left: 10px;
}
.help-panel li {
    list-style-type: none;
    font-size: 11px;
    color: #337ab7;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 5px;
}
.help-panel li:before {
    font-family: FontAwesome;
    content: "\f078"
}
.help-panel li.collapsed:before {
    font-family: FontAwesome;
    content: "\f054";
}
.help-panel div {
    padding-left: 10px;
    font-size: 11px;
    margin-bottom: 5px;
}
.warning-panel {
    background-color: #EDE4F2;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    padding: 7px;
    font-size: 11px;
}
.warning-panel p{
    margin: 3px 0 5px;
}
.buy-myself {
    margin: 30px 0;
}
.buy-myself p {
    margin-top: 5px;
    font-size: 12px;
}

.prop-detail-stocks .header {
    font-size: 12px;
    font-weight: bold;
}
.prop-detail-stocks .unit-price {
    float: left;
}
.prop-detail-stocks .balance-stocks {
    float: right;
    padding-right: 40px;
}
.prop-detail-stocks .sub {
    font-size: 11px;
    font-weight: bold;
    color: #888;
    margin-top: 10px;
}
.prop-detail-stocks .owner {
    float: left;
}
.prop-detail-stocks .expire {
    float: right;
    padding-right: 10px;
}



.stock-selector {
    margin-bottom: 20px;
}
.stock-selector .nav-tabs li {
    font-size: 12px;
    font-weight: bold;
}
.stock-selector .nav-tabs li > a {
    color: #337ab7;
}
.stock-selector .nav-tabs li.active > a {
    color: #555;
}
.stock-selector-body {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-top: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.stock-selector-input {
    width: 80%;
    margin: auto;
}
.stock-selector .input-group {
    width: 320px;
}
.stock-selector .input-group.sell-num-input {
    width: 160px;
    margin-right: 20px;
}
.stock-selector .input-group.sell-price-input {
    width: 210px;
}
.stock-selector .hint-block, .stock-selector .help-block {
    font-size: 11px;
}
.stock-selector .btn-group .select-btn {
    margin-left: 20px;
    padding-top: 7px;
}

.stock-selector .selected-info {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}
.stock-selector .selected-info ul {
    margin: 0;
    padding: 0;
    float: left;
}
.stock-selector .selected-info ul li {
    display: inline-block;
    min-width: 60px;
    height: 40px;
    padding: 0;
    margin-right: 20px;
}
.stock-selector .contents-params {
    font-weight: bold;
    font-size: 24px;
}
.stock-selector .contents-subtile {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0px;
}
.stock-select-list.onsale-stocks {
    padding-top: 10px;
}
.stock-select-list .stocks-select-panel {
    margin-top: 10px;
    padding: 9px 14px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
.stock-select-list .stocks-select-panel.selected {
    background-color: #dff0d8;
}
.stocks-select-panel .info-block {
    width: 70%;
    float: left;
    border-right: 1px solid #d9d9de;
    -webkit-box-shadow: 0 0 2px #f5f5f5;
       -moz-box-shadow: 0 0 2px #f5f5f5;
            box-shadow: 0 0 2px #f5f5f5;
}
.stock-select-list.onsale-stocks .info-block {
    width: 100%;
    border-right: 0;
}
.stocks-select-panel .info-block .info-main {
    float: left;
}
.stocks-select-panel .info-block .info-unit-price {
    float: right;
    font-size: 14px;
    font-weight: bold;
}
.stocks-select-panel .header {

}
.stocks-select-panel .unit-price {
    display: inline-block;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 20px;
}
.stocks-select-panel .balance-stocks {
    font-size: 20px;
    font-weight: bold;
}
.stocks-select-panel .sub {
    font-size: 11px;
    font-weight: bold;
    color: #888;
    margin-top: 5px;
}
.stocks-select-panel .owner {
    float: left;
}
.stocks-select-panel .expire {
    float: right;
    padding-right: 10px;
}

.stocks-select-panel .control-block {
    width: 30%;
    float: right;
    padding-left: 10px;
}
.stocks-select-panel .control-block .help-block {
    font-size: 11px;
    padding: 0px;
    margin: 0 0 5px 0;
}
.stocks-select-panel .control-block .help-block {
    height: 16px;
}
.stocks-select-panel .control-block .control-panel {
    height: 100%;
}
.stocks-select-panel .control-block .control-panel .value-input {
    font-size: 12px;
    height: 100%;
    padding: 3px 5px;
    width: 55%;
    float: left;
}
.stocks-select-panel .control-block .control-panel .btn{
    float: right;
    margin: 1px 0 1px 10px;
}


/*---- flow-step-indicator --------------------------------*/
.flow-step-indicator {
    margin-bottom: 20px;
    
}

.flow-step-indicator * {
    box-sizing: border-box;
}

#progress {
    padding: 0;
    list-style-type: none;
    font-family: arial;
    font-size: 12px;
    clear: both;
    line-height: 1em;
    margin: 0 -1px;
    text-align: center;
}

#progress li {
    float: left;
    padding: 10px 30px 10px 40px;
    background: #555;
    color: #fff;
    position: relative;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    width: 32%;
    margin: 0 2px;
}
#progress.progress-3 li {
    width: 32%;
}
#progress.progress-4 li {
    width: 24%;
}
#progress li:before {
    content: '';
    border-left: 16px solid #f5f5f5;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    
}
#progress li:after {
    content: '';
    border-left: 16px solid #555;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 20;
}
#progress li.active {
    background: #e08341;
    border-color: #e08341;
}
#progress li.active:after {
   border-left-color: #e08341;
}
#progress li.active ~ li {
    background: #333;
    border-color: #333;
}
#progress li.active ~ li:after {
    border-left-color: #333;
}


/*---- User Dashboard--------------------------------------*/
.user-dashboard .herounit {
    background: linear-gradient(315deg, #3e5062 10%, #203040 90%);
}
.user-dashboard .herounit .hero-content {
    text-align: center;
    /*font-weight: bold;*/
    height: 170px;
}
.hero-content .dash-info {
    padding: 20px 0 0;
    vertical-align: text-bottom
}
.hero-content .dash-info li {
    display: inline-block;
    height: 40px;
    padding: 0;
}
.hero-content .dash-info li:first-child {
    margin-right: 60px;
}
.dash-info .contents-params {
    /*font-weight: bold;*/
    font-size: 120px;
    line-height: 120px;
    margin-bottom: 0px;
    color: #e0725c;
    height: 120px;
    font-style: italic;
}
.dash-info .contents-params.total-earnings {
    font-size: 90px;
    line-height: 90px;
    padding-top: 26px;
}
.dash-info .contents-subtile {
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    margin-bottom: 0px;
    padding-right: 10px;
    color: #e0725c;
}
.dash-info .contents-params .unit {
    font-size: 50%;
}
.dash-info .contents-params .point-exchange {
    height: 40px;
    font-size: 20px;
    margin-top: 15px;
}
.user-dashboard .herounit .user-main-tab {
    color: #fff;   
}
.user-dashboard .herounit .nav-tabs {
    border-bottom: 0;
}
.user-dashboard .herounit .nav-tabs a {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0;
}
.user-dashboard .herounit .nav-tabs a:hover {
    color: #337ab7;
}
.user-dashboard .herounit .nav-tabs li.active a {
    background-color: #f5f5f5;
    color: #333;
}
.user-total-earnings-graph {
    margin-bottom: 20px;
}
.user-prop-tile {
    background-color: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
       -moz-box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
            box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
}
.user-prop-tile-thumbnail {
    width: 130px;
    height: 100px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    /*text-align: center;*/
}
.user-prop-tile-thumbnail img {
    height: 100px;
    width: auto;
}
.user-prop-info {
    height: 100px;
    padding: 0;
}
.user-prop-info-body {
    height: 100px;
    padding: 0;
}
.user-prop-info-base {
    padding: 5px 10px 5px 0;
    float: left;
}
.user-prop-info-body h5 {
    margin: 0px;
    font-weight: bold;
    display: inline-block;
}
.user-prop-info-body ul {
    margin: 0;
    padding: 5px 0 0 30px;
}
.user-prop-info-body ul li {
    display: inline-block;
    min-width: 50px;
    height: 40px;
    padding: 0;
    margin-right: 20px;
}
.user-prop-info-body .contents-params {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
}
.user-prop-info-body .contents-subtile {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0px;
    color: #666;
}
.user-prop-info-penal {
    min-width: 210px;
    padding: 5px 10px;
    height: 100px;
    float: right;
    border-left: 1px solid #d9d9de;
    -webkit-box-shadow: -1px 0 0 #fff;
       -moz-box-shadow: -1px 0 0 #fff;
            box-shadow: -1px 0 0 #fff;
}
.user-prop-info-penal.earning {
    background-color: #dff0d8;
}
.user-prop-info-penal.reserve {
    background-color: #fcf8e3;
}
.user-prop-info-penal h6 {
    margin: 0px;
    color: #666;
    font-weight: bold;
    text-align: left;
}
.user-prop-info-per {
    text-align: right;
    font-weight: bold;
}
.reserve .user-prop-info-per {
    color: #67ba3d;
}
.earning .user-prop-info-per {
    color: #e07121;
}
.user-prop-info-per .per-title {
    font-size: 13px;
    line-height: 13px;
    color: #666;
}
.user-prop-info-per .per-number {
    font-size: 32px;
    line-height: 32px;
    font-style: italic;
}
.user-prop-info-per .per-unit {
    font-size: 18px;
    line-height: 18px;
    font-style: italic;
}
.user-prop-info-amount {
    text-align: right;
    font-weight: bold;
    padding-right: 5px;
}
.reserve .user-prop-info-amount {
    color: #67ba3d;
}
.earning .user-prop-info-amount {
    color: #e07121;
}
.user-prop-info-amount .amount-title {
    font-size: 13px;
    line-height: 13px;
    color: #666;
}
.user-prop-info-amount .amount-number {
    font-size: 24px;
    line-height: 24px;
    font-style: italic;
}
.user-prop-info-penal-btn {
    text-align: center;
    /*background-color: rgba(255, 255, 255, 0.5);*/
}
.user-prop-info-penal-btn a:hover {
    text-decoration: none;
}
.user-prop-info-penal-btn > span {
    cursor: pointer;
    font-weight: normal;
}
.user-prop-info-bar {
    width: 100%;
    height: 25px;
    /*background-color: #B4C1CC;*/
    
}
.user-prop-detail {
    display: none;
    clear: both;   
    /*height: 200px;*/
    padding: 5px 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #d9d9de;
    -webkit-box-shadow: 0 1px 0 #fff inset;
       -moz-box-shadow: 0 1px 0 #fff inset;
            box-shadow: 0 1px 0 #fff inset;
}

.point-exchanger-body {
    padding: 20px 10px;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-top: 0px;
    border--radius: 4px;
    border-bottom-left-radius: 4px;
}
.point-exchanger-input {
    width: 80%;
    margin: auto;
}
.point-exchanger-input .input-group {
    width: 320px;
}
.point-exchanger-body .point-exchanger-info {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.point-exchanger-body .point-exchanger-info ul {
    margin: 0;
    padding: 0;
    float: left;
}
.point-exchanger-body .point-exchanger-info ul li {
    display: inline-block;
    min-width: 60px;
    height: 40px;
    padding: 0;
    margin-right: 20px;
}
.point-exchanger-body .point-exchanger-info .contents-params {
    font-weight: bold;
    font-size: 20px;
}
.point-exchanger-body .point-exchanger-info .contents-subtile {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0px;
}
.point-exchange-confirm {
    padding: 20px;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 30px;
}
.point-exchange-confirm th {
    text-align: right;
    width: 150px;
}
.point-exchange-confirm td {
    text-align: center;
}

.buy-stock-confirm {
    padding: 20px;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 30px;
}
.buy-stock-confirm th {
    text-align: right;
    width: 150px;
}
.buy-stock-confirm td {
    text-align: center;
}
.buy-stock-confirm .buy-stocks-detail {
    padding: 5px;
}
.buy-stock-confirm .buy-stocks-detail table {
    margin-bottom: 0;
    background-color: #f5f5f5;
}
.buy-stock-confirm .buy-stocks-detail td {
    text-align: right;
}
.buy-stock-confirm .buy-stocks-detail tr:first-child > th {
    border: 0;
    color: #777;
}
.buy-stock-confirm .pay-type-paypal {
    padding: 10px;
    background-color: #d9edf7;
}
.buy-stock-confirm .pay-type-paypal p {
    font-size: 12px;
    text-align: left;
    margin-bottom: 5px;
}
.buy-stock-confirm .pay-type-paypal p.header {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
}
.buy-stock-confirm-btn {
    text-align: center;
}
.buy-stock-result-title {
    text-align: center;
    margin-bottom: 30px;
}

/*---- campaign label--------------------------------------*/
.campaign-label {
    color: #fff;
    height: 18px;
    line-height: 12px;
    font-size: 12px;
    padding: 3px 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    background: linear-gradient(#e74841 0%, #bb3a34 100%);
    position: relative;
    -webkit-box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
       -moz-box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
            box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
}
.campaign-label:before {
    border-left: 6px solid transparent;
    border-top: 9px solid #e74841;
    border-bottom: 9px solid #bb3a34;
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    left: -5px;
    bottom: 0;
    font-size: 12px;
}
span.campaign-label:before {
    padding-top: 1px;
    padding-bottom: 1px;
}
.prop-detail-top-media .campaign-label {
    height: 22px;
    line-height: 14px;
    font-size: 14px;
    padding: 4px 10px;
}
.prop-detail-top-media .campaign-label:before {
    border-left: 8px solid transparent;
    border-top: 11px solid #e74841;
    border-bottom: 11px solid #bb3a34;
    left: -7px;
}

/*---- Account --------------------------------------------*/
.account-select {
    
}

.account-tile {
    padding: 20px 25px;
}
.account-tile-inner {
    background-color: #fff;
    -webkit-box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
       -moz-box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
            box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
    height: 150px;
    padding: 10px;
    color: #333;
}
.account-tile-inner:hover {
    -webkit-transform: scale(1.02,1.02);
       -moz-transform: scale(1.02,1.02);
        -ms-transform: scale(1.02,1.02);
         -o-transform: scale(1.02,1.02);
            transform: scale(1.02,1.02);
}
.account-tile-title {
    font-size: 20px;
}

.account-list {
    padding: 10px 0;
}
.account-list-inner {
    background-color: #fff;
    -webkit-box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
       -moz-box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
            box-shadow: 3px 5px 5px 0 rgba(0,0,0,0.2);
    padding: 10px;
    color: #333;
}
.account-list-inner .attr_label {
    text-align: right;
    font-weight: bold;
}

.popover {
    font-size: 12px;
    width: 220px;
    z-index: 10000;
}
